body { margin: 0; padding: 0; }
header, main { max-width: 800px; margin: auto; padding: 1em; }
form input, form textarea, button { width: 100%; margin: 0.5em 0; padding: 0.5em; }
button { border: none; cursor: pointer; background-color: #d5d8dc; color: black}
button:hover { background-color: #2ecc71; }
.pin { background: #fff; padding: 1em; margin: 1em 0; border-radius: 4px; }
img { max-width: 100%; border-radius: 4px; }
